body {
    padding-bottom: 2rem;
    background-color: rgb(112, 110, 107);
    color: rgba(255, 255, 255, 0.896);
  }
  

/* ------------ HERO ------------ */
.carousel-inner > .carousel-item > img {
    height:100vh;
  }

 .d-block {
    object-fit: cover;
  }

  .carousel-caption {
    padding-bottom: 3em;
    text-shadow: black 2px 2px;
    color: rgba(255, 255, 255, 0.896);
  }

  .carousel-caption h5 {
    font-size: 30px;
  }

  /* ------------ CARDS ------------ */

  .card-section {
    padding-top: 5em;
  }
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .btn-secondary {
    background-color: rgb(80, 76, 76);
  }

  /* ------------ FEATURE ------------ */

  .feature-section {
    padding-top: 0.1em;
    text-align: center;
  }

  .featurette-divider {
    margin: 5rem; 
  }

  .col-md-5 {
    min-height: 500px;
    justify-items: center;
  }

  .col-md-5 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .col-md-7 {
    align-content: center;
  }


  /* ------------ FOOTER ------------ */

 .container a {
    text-decoration: none;
    color: white;
 }

 .container a:hover {
    color: blue;
 }
